<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.messi.silentinstallPoll"
    android:versionCode="1"
    android:versionName="1.0" 
    android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />

<application
        android:allowBackup="true"
        android:label="@string/app_name"
        >
 
        <service android:name="BinderPoolManagerService"
            android:process="cn.messi.silentinstallPoll">
            <intent-filter>
                <action android:name="cn.messi.silentinstall.SILENT_INSTALL"/>
            </intent-filter>
        </service>
    </application>
</manifest>
